*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

body{
    background:#EDF5F2;
}

.testimonials{
    padding:80px 0;
}

.heading{
    text-align:center;
    margin-bottom:50px;
}

.line8{
    width:100px;
    height:2px;
    background:#9fc3bc;
    margin:0 auto 20px;
    
}

.heading h2{
    font-size:42px;
    color:#1f2c2c;
}

.heading span{
    color:#0f7d69;
    font-style:italic;
    font-family:"Playfair Display", serif;
    
    
    
}

.heading p{
    color:#7b8f8c;
    margin-top:10px;
}

.reviews{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:20px;
    max-width: 900;
    margin:auto;
}

.right-grid{
    display:grid;
    grid-template-columns:260px 260px;
    gap:30px;
}

.review-card{
    background:#fff;
    border-radius:16px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.05);
}

.tall{
    width:300px;
    height:430px;
}

.medium{
    width:280px;
    height:220px;
}

.small{
    width:280px;
    height:150px;
    margin-top: 30px;
}

.stars{
    color:#0f7d69;
    margin-bottom:15px;
    letter-spacing:3px;
}

.review-text{
    color:#738684;
    font-size:14px;
    line-height:1.7;
    margin-bottom:20px;
}

.user{
    display:flex;
    align-items:center;
    gap:10px;
}

.avatar1{
    width:34px;
    height:34px;
    border-radius:50%;
    background:#d8ece7;
    color:#0f7d69;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:12px;
    font-weight:bold;
}

.user h4{
    font-size:13px;
}

.user span{
    font-size:11px;
    color:#8ca09d;
}

@media(max-width:992px){

    .reviews{
        flex-direction:column;
        align-items:center;
    }

    .right-grid{
        grid-template-columns:1fr;
    }

    .tall,
    .medium,
    .small{
        width:90%;
        height:auto;
    }
}